/* IMPOSTAZIONI GENERALI */
body {
    color: #393d41;
    font-family: "open sans";
    font-size: 1rem;
    line-height: 1.65;
}

h1 {
    color: #25a2c3 ;
    font-family: "montserrat";
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.8em;
}

h3 {
    color: #25a2c3 ;
    font-family: "montserrat";
    font-weight: 700;
    line-height: 1.1;
    font-size: 1em;
    margin: 1em auto;
}

/* HEADER */
header div {
    background-color: black;
    height: 5em;
}

header div img {
    margin: 1.5em 1.5em 1.5em 2em;
    width: 6em;
}

nav {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position-x: 100%;
    padding: 8rem 12rem 8rem 12rem;
    text-align: center;
}

nav h1 {
    padding-top: 0.8em;
}

nav p {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

button {
    width: 11em;
    height: 3.3em;
    font-family: "Montserrat";
    font-size: 0.7em;
    color: white;
    font-weight: 700;
    background-color: #f04c2f;
    border-radius: 0.4em;
    border: none;
    margin: 1em auto;
}

/* MAIN */

article {
    padding: 2em;
    padding-bottom: 3.5em;
    width: 100%;
}

/*article h3, article p*/
    

#box {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: aqua;
    background-image: url(images/notebook.jpg);
    background-size: cover;
    margin: auto;
    display: inline-block;
 }

section {
    background-color: #e22d0e;
    color: white;
    padding: 4em;
    text-align: center;
}

section h1 {
    color: white;
    font-size: 1.2em;
}

section p {
    font-size: 1.2em;
    font-style: italic;
    padding-top: 1em;
}

.nome {
    font-size: 0.8em;
    font-style: normal;
    padding-top: 1em;
}

.ceo {
    font-size: 0.6em;
    font-style: normal;
    padding-top: 0.2em;
}

aside {
    margin: 3em auto;
    text-align: center;
}

aside p {
    font-size: 0.85em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

aside div {
    width: 250px;
    margin: 1em;
    margin-top: 1.5em;
    border: 1px solid #dee1e3;
    padding-bottom: 1.6em;
    display: inline-block;
}

aside img {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #25a2c3;
    padding: 3em;
    color: white;
    margin-top: 4em;
    text-align: center;
    margin: auto;
}

footer h1 {
    color: white;
}

footer a, footer p {
    color: #c8e7f0;
    font-size: 0.7em;
}

i {
    color: white;
}

footer div {
    padding-top: 1em;
    padding-bottom: 1em;
}

.copy {
    font-size: 0.6em;
    padding-top: 1em;
}

hr {
    width: 10.8em;
}